{% extends "base.html.twig" %}
{% block body %}
    <a href="{{ url("batiment.add") }}">Add</a>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for batiment in batiments %}
            <tr>
                <td>{{ batiment.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No content available</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}