{% extends "base.html.twig" %}
{% block body %}
    <html><body>
        <h1>Page des tickets github ready</h1>
        <p>Page de base, a remplacer par la co plus tard, faut maintenant gérer les tickets</p>
    </body></html>
{% endblock %}